-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: lms_stikes
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `absensi`
--

DROP TABLE IF EXISTS `absensi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `absensi` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `kelas_id` int(11) unsigned NOT NULL,
  `tanggal` date NOT NULL,
  `pertemuan_ke` int(5) NOT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `absensi_kelas_id_foreign` (`kelas_id`),
  CONSTRAINT `absensi_kelas_id_foreign` FOREIGN KEY (`kelas_id`) REFERENCES `kelas` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `absensi`
--

LOCK TABLES `absensi` WRITE;
/*!40000 ALTER TABLE `absensi` DISABLE KEYS */;
INSERT INTO `absensi` VALUES (1,2,'2026-06-15',1,'2026-06-15 14:30:44');
/*!40000 ALTER TABLE `absensi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `badges`
--

DROP TABLE IF EXISTS `badges`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `badges` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama` varchar(100) NOT NULL,
  `deskripsi` varchar(255) NOT NULL,
  `icon` varchar(100) NOT NULL,
  `tipe` varchar(50) NOT NULL,
  `threshold` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `badges`
--

LOCK TABLES `badges` WRITE;
/*!40000 ALTER TABLE `badges` DISABLE KEYS */;
INSERT INTO `badges` VALUES (1,'Pencari Ilmu','Mengumpulkan tugas pertama Anda','fa-book-reader text-info','tugas',1),(2,'Ahli Tugas','Mengumpulkan 5 tugas','fa-tasks text-primary','tugas',5),(3,'Peserta Aktif','Menghadiri 5 pertemuan kelas','fa-user-check text-success','kehadiran',5),(4,'Ujian Sempurna','Mendapatkan nilai 100 pada kuis','fa-trophy text-warning','kuis_perfect',100);
/*!40000 ALTER TABLE `badges` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detail_absensi`
--

DROP TABLE IF EXISTS `detail_absensi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detail_absensi` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `absensi_id` int(11) unsigned NOT NULL,
  `mahasiswa_id` int(11) unsigned NOT NULL,
  `status` enum('hadir','izin','sakit','alpha') NOT NULL DEFAULT 'alpha',
  PRIMARY KEY (`id`),
  KEY `detail_absensi_absensi_id_foreign` (`absensi_id`),
  KEY `detail_absensi_mahasiswa_id_foreign` (`mahasiswa_id`),
  CONSTRAINT `detail_absensi_absensi_id_foreign` FOREIGN KEY (`absensi_id`) REFERENCES `absensi` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `detail_absensi_mahasiswa_id_foreign` FOREIGN KEY (`mahasiswa_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detail_absensi`
--

LOCK TABLES `detail_absensi` WRITE;
/*!40000 ALTER TABLE `detail_absensi` DISABLE KEYS */;
INSERT INTO `detail_absensi` VALUES (1,1,4,'hadir');
/*!40000 ALTER TABLE `detail_absensi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `forum_balasan`
--

DROP TABLE IF EXISTS `forum_balasan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `forum_balasan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `topik_id` int(11) NOT NULL,
  `pembuat_id` int(11) NOT NULL,
  `konten` text NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `forum_balasan`
--

LOCK TABLES `forum_balasan` WRITE;
/*!40000 ALTER TABLE `forum_balasan` DISABLE KEYS */;
/*!40000 ALTER TABLE `forum_balasan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `forum_topik`
--

DROP TABLE IF EXISTS `forum_topik`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `forum_topik` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kelas_id` int(11) NOT NULL,
  `pembuat_id` int(11) NOT NULL,
  `judul` varchar(255) NOT NULL,
  `konten` text NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `forum_topik`
--

LOCK TABLES `forum_topik` WRITE;
/*!40000 ALTER TABLE `forum_topik` DISABLE KEYS */;
/*!40000 ALTER TABLE `forum_topik` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jadwal_kuliah`
--

DROP TABLE IF EXISTS `jadwal_kuliah`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jadwal_kuliah` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `kelas_id` int(11) unsigned NOT NULL,
  `pertemuan_ke` int(5) NOT NULL,
  `tanggal` date NOT NULL,
  `jam_mulai` time NOT NULL,
  `jam_selesai` time NOT NULL,
  `ruangan` varchar(100) NOT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `jadwal_kuliah_kelas_id_foreign` (`kelas_id`),
  CONSTRAINT `jadwal_kuliah_kelas_id_foreign` FOREIGN KEY (`kelas_id`) REFERENCES `kelas` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jadwal_kuliah`
--

LOCK TABLES `jadwal_kuliah` WRITE;
/*!40000 ALTER TABLE `jadwal_kuliah` DISABLE KEYS */;
/*!40000 ALTER TABLE `jadwal_kuliah` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jawaban_kuis`
--

DROP TABLE IF EXISTS `jawaban_kuis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jawaban_kuis` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `attempt_id` int(11) NOT NULL,
  `soal_id` int(11) NOT NULL,
  `jawaban` varchar(1) NOT NULL,
  `status` enum('benar','salah') NOT NULL,
  `poin` int(11) DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jawaban_kuis`
--

LOCK TABLES `jawaban_kuis` WRITE;
/*!40000 ALTER TABLE `jawaban_kuis` DISABLE KEYS */;
INSERT INTO `jawaban_kuis` VALUES (1,3,1,'A','benar',10),(2,5,2,'A','benar',100),(3,6,2,'A','benar',100),(4,7,3,'A','benar',100);
/*!40000 ALTER TABLE `jawaban_kuis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kelas`
--

DROP TABLE IF EXISTS `kelas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kelas` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `mata_kuliah_id` int(11) unsigned NOT NULL,
  `tahun_ajaran` varchar(20) NOT NULL,
  `semester` enum('ganjil','genap') NOT NULL,
  PRIMARY KEY (`id`),
  KEY `kelas_mata_kuliah_id_foreign` (`mata_kuliah_id`),
  CONSTRAINT `kelas_mata_kuliah_id_foreign` FOREIGN KEY (`mata_kuliah_id`) REFERENCES `mata_kuliah` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kelas`
--

LOCK TABLES `kelas` WRITE;
/*!40000 ALTER TABLE `kelas` DISABLE KEYS */;
INSERT INTO `kelas` VALUES (2,2,'2026/2027','ganjil');
/*!40000 ALTER TABLE `kelas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kelas_mahasiswa`
--

DROP TABLE IF EXISTS `kelas_mahasiswa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kelas_mahasiswa` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `kelas_id` int(11) unsigned NOT NULL,
  `mahasiswa_id` int(11) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `kelas_mahasiswa_kelas_id_foreign` (`kelas_id`),
  KEY `kelas_mahasiswa_mahasiswa_id_foreign` (`mahasiswa_id`),
  CONSTRAINT `kelas_mahasiswa_kelas_id_foreign` FOREIGN KEY (`kelas_id`) REFERENCES `kelas` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `kelas_mahasiswa_mahasiswa_id_foreign` FOREIGN KEY (`mahasiswa_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kelas_mahasiswa`
--

LOCK TABLES `kelas_mahasiswa` WRITE;
/*!40000 ALTER TABLE `kelas_mahasiswa` DISABLE KEYS */;
INSERT INTO `kelas_mahasiswa` VALUES (2,2,4);
/*!40000 ALTER TABLE `kelas_mahasiswa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kuis`
--

DROP TABLE IF EXISTS `kuis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kuis` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `kelas_id` int(11) unsigned NOT NULL,
  `tipe` enum('kuis','uts','uas') DEFAULT 'kuis',
  `judul` varchar(255) NOT NULL,
  `durasi_menit` int(5) NOT NULL,
  `deadline` datetime DEFAULT NULL,
  `max_attempt` int(5) NOT NULL DEFAULT 1,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kuis_kelas_id_foreign` (`kelas_id`),
  CONSTRAINT `kuis_kelas_id_foreign` FOREIGN KEY (`kelas_id`) REFERENCES `kelas` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kuis`
--

LOCK TABLES `kuis` WRITE;
/*!40000 ALTER TABLE `kuis` DISABLE KEYS */;
INSERT INTO `kuis` VALUES (1,2,'kuis','Kuis 1',400,'2026-06-15 20:58:00',3,'2026-06-15 13:58:02'),(2,2,'uts','UTS Pemrograman',90,'2026-06-16 11:14:00',5,'2026-06-16 04:14:37'),(3,2,'uas','UAS Pemrograman',90,'2026-06-16 11:14:00',5,'2026-06-16 04:15:02');
/*!40000 ALTER TABLE `kuis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kuis_attempt`
--

DROP TABLE IF EXISTS `kuis_attempt`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kuis_attempt` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kuis_id` int(11) NOT NULL,
  `mahasiswa_id` int(11) NOT NULL,
  `nilai` decimal(5,2) DEFAULT 0.00,
  `started_at` datetime NOT NULL,
  `completed_at` datetime DEFAULT NULL,
  `status` enum('progress','completed') DEFAULT 'progress',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kuis_attempt`
--

LOCK TABLES `kuis_attempt` WRITE;
/*!40000 ALTER TABLE `kuis_attempt` DISABLE KEYS */;
INSERT INTO `kuis_attempt` VALUES (1,1,4,0.00,'2026-06-15 15:21:15',NULL,'progress'),(2,1,4,0.00,'2026-06-15 15:22:23',NULL,'progress'),(3,1,4,100.00,'2026-06-15 15:24:07','2026-06-15 15:24:10','completed'),(4,2,4,0.00,'2026-06-16 04:15:13',NULL,'progress'),(5,2,4,100.00,'2026-06-16 04:16:21','2026-06-16 04:16:25','completed'),(6,2,4,100.00,'2026-06-16 04:16:29','2026-06-16 04:16:33','completed'),(7,3,4,100.00,'2026-06-16 04:16:45','2026-06-16 04:16:49','completed');
/*!40000 ALTER TABLE `kuis_attempt` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mata_kuliah`
--

DROP TABLE IF EXISTS `mata_kuliah`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mata_kuliah` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `kode_mk` varchar(20) NOT NULL,
  `nama` varchar(100) NOT NULL,
  `sks` int(2) NOT NULL,
  `prodi_id` int(11) unsigned NOT NULL,
  `dosen_id` int(11) unsigned NOT NULL,
  `semester` int(2) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `mata_kuliah_prodi_id_foreign` (`prodi_id`),
  KEY `mata_kuliah_dosen_id_foreign` (`dosen_id`),
  CONSTRAINT `mata_kuliah_dosen_id_foreign` FOREIGN KEY (`dosen_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `mata_kuliah_prodi_id_foreign` FOREIGN KEY (`prodi_id`) REFERENCES `program_studi` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mata_kuliah`
--

LOCK TABLES `mata_kuliah` WRITE;
/*!40000 ALTER TABLE `mata_kuliah` DISABLE KEYS */;
INSERT INTO `mata_kuliah` VALUES (2,'MK1','Algoritma',4,1,6,2);
/*!40000 ALTER TABLE `mata_kuliah` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `materi`
--

DROP TABLE IF EXISTS `materi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `materi` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `kelas_id` int(11) unsigned NOT NULL,
  `judul` varchar(255) NOT NULL,
  `deskripsi` text DEFAULT NULL,
  `tipe` enum('file','video','artikel') NOT NULL DEFAULT 'file',
  `file_path` varchar(255) DEFAULT NULL,
  `urutan` int(5) NOT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `materi_kelas_id_foreign` (`kelas_id`),
  CONSTRAINT `materi_kelas_id_foreign` FOREIGN KEY (`kelas_id`) REFERENCES `kelas` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `materi`
--

LOCK TABLES `materi` WRITE;
/*!40000 ALTER TABLE `materi` DISABLE KEYS */;
INSERT INTO `materi` VALUES (1,2,'Pertemuan 1 - Pengantar Teknologi','','file','uploads/materi/1781533817_0a7b20b2fa36df2884a2.pdf',1,'2026-06-15 13:46:56');
/*!40000 ALTER TABLE `materi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `version` varchar(255) NOT NULL,
  `class` varchar(255) NOT NULL,
  `group` varchar(255) NOT NULL,
  `namespace` varchar(255) NOT NULL,
  `time` int(11) NOT NULL,
  `batch` int(11) unsigned NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
INSERT INTO `migrations` VALUES (1,'2026-06-15-120000','App\\Database\\Migrations\\InitTables','default','App',1781524953,1),(2,'2026-06-16-050152','App\\Database\\Migrations\\CreateJadwalKuliah','default','App',1781586148,2);
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nilai_akhir`
--

DROP TABLE IF EXISTS `nilai_akhir`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `nilai_akhir` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `kelas_id` int(11) unsigned NOT NULL,
  `mahasiswa_id` int(11) unsigned NOT NULL,
  `nilai_tugas` decimal(5,2) NOT NULL DEFAULT 0.00,
  `nilai_kuis` decimal(5,2) NOT NULL DEFAULT 0.00,
  `nilai_uts` decimal(5,2) NOT NULL DEFAULT 0.00,
  `nilai_uas` decimal(5,2) NOT NULL DEFAULT 0.00,
  `nilai_akhir` decimal(5,2) NOT NULL DEFAULT 0.00,
  `grade` varchar(2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `nilai_akhir_kelas_id_foreign` (`kelas_id`),
  KEY `nilai_akhir_mahasiswa_id_foreign` (`mahasiswa_id`),
  CONSTRAINT `nilai_akhir_kelas_id_foreign` FOREIGN KEY (`kelas_id`) REFERENCES `kelas` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `nilai_akhir_mahasiswa_id_foreign` FOREIGN KEY (`mahasiswa_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nilai_akhir`
--

LOCK TABLES `nilai_akhir` WRITE;
/*!40000 ALTER TABLE `nilai_akhir` DISABLE KEYS */;
INSERT INTO `nilai_akhir` VALUES (1,2,4,100.00,100.00,100.00,100.00,100.00,'A');
/*!40000 ALTER TABLE `nilai_akhir` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengumuman`
--

DROP TABLE IF EXISTS `pengumuman`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pengumuman` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kelas_id` int(11) NOT NULL,
  `judul` varchar(255) NOT NULL,
  `isi` text NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengumuman`
--

LOCK TABLES `pengumuman` WRITE;
/*!40000 ALTER TABLE `pengumuman` DISABLE KEYS */;
/*!40000 ALTER TABLE `pengumuman` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `program_studi`
--

DROP TABLE IF EXISTS `program_studi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `program_studi` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `nama_prodi` varchar(100) NOT NULL,
  `kode` varchar(10) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `program_studi`
--

LOCK TABLES `program_studi` WRITE;
/*!40000 ALTER TABLE `program_studi` DISABLE KEYS */;
INSERT INTO `program_studi` VALUES (1,'S1 Teknik Informatika','TI');
/*!40000 ALTER TABLE `program_studi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `soal`
--

DROP TABLE IF EXISTS `soal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `soal` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `kuis_id` int(11) unsigned NOT NULL,
  `pertanyaan` text NOT NULL,
  `opsi_a` varchar(255) NOT NULL,
  `opsi_b` varchar(255) NOT NULL,
  `opsi_c` varchar(255) NOT NULL,
  `opsi_d` varchar(255) NOT NULL,
  `jawaban_benar` char(1) NOT NULL,
  `poin` int(5) NOT NULL DEFAULT 10,
  PRIMARY KEY (`id`),
  KEY `soal_kuis_id_foreign` (`kuis_id`),
  CONSTRAINT `soal_kuis_id_foreign` FOREIGN KEY (`kuis_id`) REFERENCES `kuis` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `soal`
--

LOCK TABLES `soal` WRITE;
/*!40000 ALTER TABLE `soal` DISABLE KEYS */;
INSERT INTO `soal` VALUES (1,1,'asdsadas','a','a','a','a','A',10),(2,2,'a','a','a','a','a','A',100),(3,3,'a','a','a','a','a','A',100);
/*!40000 ALTER TABLE `soal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tugas`
--

DROP TABLE IF EXISTS `tugas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tugas` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `kelas_id` int(11) unsigned NOT NULL,
  `judul` varchar(255) NOT NULL,
  `deskripsi` text DEFAULT NULL,
  `deadline` datetime NOT NULL,
  `max_nilai` int(5) NOT NULL DEFAULT 100,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tugas_kelas_id_foreign` (`kelas_id`),
  CONSTRAINT `tugas_kelas_id_foreign` FOREIGN KEY (`kelas_id`) REFERENCES `kelas` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tugas`
--

LOCK TABLES `tugas` WRITE;
/*!40000 ALTER TABLE `tugas` DISABLE KEYS */;
INSERT INTO `tugas` VALUES (1,2,'Tugas 1','asdasdawd','2026-06-16 20:57:00',100,'2026-06-15 13:57:36');
/*!40000 ALTER TABLE `tugas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tugas_submit`
--

DROP TABLE IF EXISTS `tugas_submit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tugas_submit` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `tugas_id` int(11) unsigned NOT NULL,
  `mahasiswa_id` int(11) unsigned NOT NULL,
  `file_path` varchar(255) NOT NULL,
  `nilai` int(5) DEFAULT NULL,
  `feedback` text DEFAULT NULL,
  `submitted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tugas_submit_tugas_id_foreign` (`tugas_id`),
  KEY `tugas_submit_mahasiswa_id_foreign` (`mahasiswa_id`),
  CONSTRAINT `tugas_submit_mahasiswa_id_foreign` FOREIGN KEY (`mahasiswa_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `tugas_submit_tugas_id_foreign` FOREIGN KEY (`tugas_id`) REFERENCES `tugas` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tugas_submit`
--

LOCK TABLES `tugas_submit` WRITE;
/*!40000 ALTER TABLE `tugas_submit` DISABLE KEYS */;
INSERT INTO `tugas_submit` VALUES (1,1,4,'uploads/tugas/tugas_1_4_1781583472.pdf',100,'','2026-06-16 04:17:52');
/*!40000 ALTER TABLE `tugas_submit` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_badges`
--

DROP TABLE IF EXISTS `user_badges`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_badges` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `badge_id` int(11) NOT NULL,
  `earned_at` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_badges`
--

LOCK TABLES `user_badges` WRITE;
/*!40000 ALTER TABLE `user_badges` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_badges` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('admin','dosen','mahasiswa') NOT NULL DEFAULT 'mahasiswa',
  `nim_nidn` varchar(20) DEFAULT NULL,
  `avatar` varchar(255) DEFAULT NULL,
  `poin` int(11) NOT NULL DEFAULT 0,
  `level` int(11) NOT NULL DEFAULT 1,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (3,'Administrator','admin@stikes.ac.id','$2y$10$K7Ufq7gGb9IEKf24EIzr.OoSUQ19Y0l0AaeCq9icFcX75BrQ8qiTG','admin','ADMIN001',NULL,0,1,'2026-06-15 12:42:25','2026-06-15 12:42:25'),(4,'Stiven','mahasiswa@stikes.ac.id','$2y$10$q.GuSPJmNeAJdnJ2h5FsVuWaM3KaMiMyCY/BaXZOS4spfQTEntCW6','mahasiswa','123',NULL,0,1,'2026-06-15 13:23:57','2026-06-15 13:46:00'),(6,'Dosen','dosen@stikes.ac.id','$2y$10$qfj48yMJwp6AqFWOk5XiPehTeG1XIHOWmYc7H2CsjWTwA1.JbcAIy','dosen','12345',NULL,0,1,'2026-06-15 13:37:48','2026-06-15 13:37:48');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-28 20:57:35
